{{#if success_msg}}
<div class="alert alert-success">
    Video idea added
</div>
{{/if}}
{{#if error_msg}}
<div class="alert alert-danger">
    Unexpected error occured
</div>
{{/if}} 
{{#if del_success}}
<div class="alert alert-success">
    Video idea deleted
</div>
{{/if}}