<div class="container-fluid" style="margin-top:5px">
    <nav class="navbar navbar-inverse " style="padding:2px;border:2px solid black ">

        <div class="container-fluid">

            <ul class="nav navbar-nav pull-right">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">Menu
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/ideas/submit">Add New</a></li>
                        <li><a href="/ideas/view">View Ideas</a></li>
                    </ul>
                </li>

            </ul>
            <div class="navbar-header">
                <a href="/" class="navbar-brand" style="margin-left:10px;font-size:25px">
                    <strong>
                        <span style="color:white;font-family:'Arial'">\\ VidJot</span>
                    </strong>
                </a>
            </div>
        </div>
    </nav>
</div>