<div class="container" >
    <div class="jumbotron" style="background-color:blue;color:white;box-shadow:0px 0px 5px black;border:2px solid black ">
<h1 >\\ VidJot</h1><br>
<h4 class="lead">A Simple Node.js Application built on Express and MongoDb</h4>


</div>
</div>