<div class="container">
    <div class="jumbotron" style="text-align:center;box-shadow:0px 0px 5px black">
        <h1>Hello! </h1><br>
        <h2>Welcome to Vidjot</h2><br>
        <p>
            Vidjot helps users to jot down their ideas and to use them later

        </p><hr>
        <div  ><a href="" class="btn btn-primary " style="width:50%">Login</a></div><br>
        <div  ><a href="" class="btn btn-primary " style="width:50%">Signup</a></div>
    </div>
</div>